@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dover Road<br />
    Indianapolis, IN 46220<br />
    <abbr title="Phone">P:</abbr>
    513.289.1242
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Aaronrfloyd@gmail.com">Aaronrfloyd@gmail.com</a>
</address>