@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One|Special+Elite&display=swap" rel="stylesheet">
        <h1>BIRD LOGGER</h1>
        <p class="lead">BIRD LOGGER is a free application used to track your bird watching experiences. </p>
    </div>


    <div class="row">
        <div class="newfont">
            <div class="col-md-4">
                <img src="~/Images/Kinderman.png" class="img-responsive" alt="Kinderman">
                <div class="card-body">
                    <h2 class="Log-a-bird">Log a Bird</h2>
                    <p class="card-text">
                        Record your bird watching experience by bird type, location, size, color and activity!
                    </p>
                    <p><a href="~/Logger/Create/" class="btn btn-info">Log a Bird</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Images/nest.png" class="img-responsive" alt="Nest">
                <div class="card-body">
                    <h2 class="Log-a-nest">Log a Nest</h2>
                    <p class="card-text">
                        Log a bird nest you have spotted too. Nest criteria includes the site, materials, altitude, eggs and hatchlings. Link the nest to a particular bird by using the Bird ID.
                    </p>
                    <p><a class="btn btn-info" href="~/Nest/Create/">Log a Nest &raquo;</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/Images/journal.png" class="img-responsive" alt="Journal">
                <div class="card-body">
                    <h2 class="Journal-a-Bird">Journal a Bird</h2>
                    <p class="card-text"> If you would like to journal the experience use this feature to record a title and content. Also, link your journal to a bird by using the Bird ID Happy bird watching!</p>
                    <p><a class="btn btn-info" href="~/Journal/Create/"> Journal &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>